<DOCTYPE html>
    <title>Hashes, hashes everywhere</title>

<style type="text/css">
	.container{
		margin: auto;
		border: 1px solid black;
		width: 90%;
		text-align: center ; 
		padding: 10px;
	}

	.warn{
		color: red;
		
		font-style: italic;
	}
</style>

<div class = 'container'>
<img src='http://cdn.meme.am/instances/500x/61411966.jpg' alt='hashes hashes everywhere'>
<p>Hi. Here you can upload a file (less than 10Kb in size) and check its SHA256 hash sum. <br>You'll also be presented with the number of times this file (or a file with a similar hash sum) was uploaded to this site.</p>

{% block content %}

{% endblock %}
</div>